################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SuperFuckingGame/v16/ipch/AutoPCH/c069a142c8b6ac2c/GENERALGAME.ipch
/.vs/SuperFuckingGame/v16/Browse.VC.opendb
/.vs/SuperFuckingGame/v16/.suo
/.vs/SuperFuckingGame/Debug/
/.vs/SuperFuckingGame/v16/
*.ipch